{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h3> Bem-Vindo, {{ usuario.user.username}} </h3>

{% if usuario.grau == "Professor" %}
	<!--
	<center>Suas turmas</center>
	<br> <br> <br> <br>
	{% if not turmas %}
		<center><b>Você não é professor de nenhuma turma</b></center>
	{% else %}
		{% for i in turmas %}
			<center><a href="/turma/{{i.id}}">{{ i.nome }}</center>
		{% endfor %}
	{% endif %}
	>-->
	<center><a href="/criatrab/"> Criar trabalho</center></a>

	<h2>Seus Trabalhos</h2>

	{% for i in trabalhos %}
		<center><a href="/trabalho/{{i.id}}">{{ i.nome }} : {{ i.status }}</center></a>
		{% if i.status == "Não enviado" %}
			<form action = "."method="post"> {% csrf_token %}
			<input type="submit" name="{{ i.id }}" value="Submeter"/>
			</form>
		{% endif %}
	{% endfor %}

{% endif %}


<font size="2"><h2><a href="/home/"> Voltar </a></h2></font>


<br><br><br>

<a href="/logout/"> Logout </a>

{% endblock %}
