{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h3> Bem-Vindo, {{ usuario.user.username}} </h3>

{% if usuario.grau == "Professor" %}
	<!--
	<center>Suas turmas</center>
	<br> <br> <br> <br>
	{% if not turmas %}
		<center><b>Você não é professor de nenhuma turma</b></center>
	{% else %}
		{% for i in turmas %}
			<center><a href="/turma/{{i.id}}">{{ i.nome }}</center>
		{% endfor %}
	{% endif %}
	>-->
	<center><a href="/criatrab/"> Criar trabalho</center>

{% else %}
	<center>Turmas que você está cadastrado</center>
	<br> <br> <br> <br>

	{% if not turmas %}
		<center><b>Você não está cadastrado em nenhuma cadeira</p></b>
	{% else %}
		{% for i in turmas %}
			<center><a href="/turma/{{i.id}}">{{ i.nome }}</center>
		{% endfor %}

	{% endif %}

{% endif %}





<br><br><br>

<a href="/logout/"> Logout </a>

{% endblock %}
