{% extends 'base.html' %}

{% block title %}Trabalho{% endblock %}

{% block content %}



<h2>Nome : {{ trabalho.nome }} </h2>
<p>Professor responsável: {{ professor.user.username }}</p>

<p><h3>Descrição</h3></p>
<p>{{ trabalho.descricao }}</p>
<p>Arquivo: {% if not trabalho.file %}  -  {% else %} {{ form.file }} {% endif %}</p>

<p>

    Seu Trabalho:
    <form action = "." method="post"> {% csrf_token %}
    <p><input type="text" name="envio" required="required" value="""/></a></p>
    <p><input type="submit" value="Enviar"></p>

</p>

	<footer>
		  <a href="/home"> Home </a>
    </footer>




{% endblock %}
